
<footer class="footer" data-common="gw-footer" >

    <!--<div class="container">-->
    <nav>
        <ul class="footer-nav">
            <li><a href="{{page.basePath}}index.html">HOME</a></li>
            <li><a href="{{page.basePath}}impressum.html">IMPRESSUM</a></li>
            <li><a href="{{page.basePath}}kontakt.html">KONTAKT</a></li>
            <li><a href="{{page.basePath}}datenschutz.html">DATENSCHUTZ</a></li>
        </ul>

        <img src="{{page.basePath}}assets/img/footer-logo.png">

        <p class="smalltext">
            GewinnMAX ist eine geschützte Marke
            beim Deutschen Patent- und Markenamt.
        </p>

    </nav>



    {{!--
    <div class="">
        <img src="assets/img/footer-91850199.jpg" style="width: 100%">
    </div>
    --}}

    <!--</div>-->


</footer>

<script src="{{page.basePath}}js/header/navigation.js" type="text/javascript"></script>

</body>
</html>