<!doctype html>
<html>
<head>

    <title>GewinnMAX</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="shortcut icon" type="image/x-icon" href="{{page.basePath}}assets/img/favicon.ico">

    <link type="text/css" rel="stylesheet" href="{{page.basePath}}styles/style.css">

    <script>
        // Set to the same value as the web property used on the site
        var gaProperty = 'UA-71919417-1';
        var disableStr = 'ga-disable-' + gaProperty;

        // Disable tracking if the opt-out cookie exists.
        if (document.cookie.indexOf(disableStr + '=true') > -1) {
            window[disableStr] = true;
        }

        // Opt-out function
        function gaOptout() {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
            alert('Opt-Out-Cookie gesetzt');
        }
    </script>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71919417-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>

<body>

<header class="header" data-partial="gw-header" >

    <div class="container">
        <a href="{{page.basePath}}index.html" class="logo"><img src="{{page.basePath}}assets/img/logo.jpg" alt="Gewinn Max"></a>

        <nav>
            <ul class="level0 controller" data-controller="modules/Navigation">
                <li><a href="{{page.basePath}}ueber-uns.html">Über uns</a></li>
                <li>Unternehmensberatung

                    <ul class="level1">
                        <li><a href="{{page.basePath}}unternehmensberatung/privat.html">Privat</a></li>
                        <li><a href="{{page.basePath}}unternehmensberatung/firmen.html">Firmen</a></li>
                    </ul>

                </li>
                <li><a href="{{page.basePath}}kontakt.html">Kontakt</a></li>
                <li><a href="{{page.basePath}}gutschein.html">Gutschein</a></li>
                <li><a href="{{page.basePath}}karriere.html">Karriere</a></li>
                <li><a href="{{page.basePath}}impressum.html">Impressum</a></li>
            </ul>
        </nav>

    </div>

</header>